img {
  width: 150px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(239, 239, 239, 0.2);
  background-color: rgb(118, 117, 117);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
